<p id="notice"><%= notice %></p>

<h1>Posts</h1>

  <div class="row mb-2">
    <% @posts.each do |post| %>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <h3 class="mb-0"><%= link_to post.title, post, class: "no_style_link" %></h3>
          <div class="mb-1 text-muted"><%= post.created_at.strftime("%_d. %B %Y.") %></div>
          <p class="card-text mb-auto"><i>Comments number</i></p>

          <div class="d-flex flex-row bd-highlight mb-3">
            <div class="p-2 bd-highlight"><%= link_to 'Edit', edit_post_path(post), class: "btn btn-secondary" %> </div>
            <div class="p-2 bd-highlight"><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } , class: "btn btn-secondary" %></div>
          </div>
        </div>
      </div>
    </div>    
    <% end %>    
  </div>

<br>

<%= link_to 'New Post', new_post_path %>
